body {
    background-color: black;
}

.container {
    text-align: center;
    width: 50%;
    margin-left: 25%;
    color: white;
}

.picture {
    margin-top: 10%;
    width: 50%;
    border: 5px solid white;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}